<app-header></app-header>
  <div class="container rounded mt-5 bg-white p-md-5">
    <div class="h2 font-weight-bold text-center" *ngIf="Todo.length <= 0">There is no task added yet!</div>

    <div class="table-responsive" *ngIf="Todo.length > 0">
      <div class="h2 font-weight-bold">Tasks</div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

              <tr class="bg-blue" *ngFor="let todos of Todo; let i = index">
                <td class="pt-3">{{todos.label}}</td>
                <td class="pt-3">{{todos.description}}</td>
                <td class="pt-3" >{{todos.type}}</td>
                <td class="pt-3">{{ todos.date | date:'medium' }}</td>
                <td class="pt-3"><span class="fa fa-check pl-3"></span></td>
                <td class="text-center edit-block">
                  <span class="edit" [routerLink]="['/edit-todos/', todos._id]">
                    <button type="button" class="btn btn-success btn-sm" style="margin: 2px;">Edit</button>
                  </span>
                  <span class="delete" (click)="removeTodo(todos, i)">
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                  </span>
                </td>
                <div id="spacing-row">
                </div>
              </tr>
            </tbody>
        </table>
    </div>
</div>
